.about{
	background-color: rgb(233, 236, 239);
    &__img {
        width: 18.4rem;
        height: 18.4rem;
        border-radius: 50%;
        box-shadow: $box-shadow-black;
        border: 0.138rem ridge $darkorchid;
        object-fit: cover;
    }
    &__title {
	    color: $darkorchid;
    }
}