@import 'core/variables.scss';
@import 'core/reset.scss';
@import 'layout/AboutMe.scss';
@import 'layout/Footer.scss';
@import 'layout/Header.scss';
@import 'layout/Hero.scss';
@import 'layout/Navbar.scss';
@import 'layout/List.scss';
@import 'layout/Detail.scss';
@import 'layout/BtnUp.scss';



