.header {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.about{
  background-color: rgb(233, 236, 239);
}
.about__img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  box-shadow: 7px 7px 7px rgba(0 0 0 /0.5);
  border: 3px ridge darkorchid;
  object-fit: cover;
}

.about__title {
  color: darkorchid;
}

.project-title{
  color: cornflowerblue
}

.footer-nav{
	@media all and (max-width: 425px ){
		display: flex;
		flex-direction: column;
		gap: 5px;
	}
}